@import "../App.css";

.ArduinoFullStack{
	text-align: center;
	margin-bottom: 50px;
}

#VideoASF{
	width: 80%;
	height: 100vw;
	max-height: 40vh;
	margin: auto;
	margin-top: 20px;
	overflow: hidden;
}
#VideoDescriptionASF{
	font-style: italic;
	font-size: 13px;
	color: var(--fontColor);
	width: 80%;
	margin: auto;
}
.ProgramDescriptionAFS{
	text-align: center;
}
#DocBtnDescrAFS{
	margin: auto;
	margin-top: 40px;
}

#DocsBtnAFS{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

.BallinInfo{
	color: var(--fontColor);
	font-family: Times;
	margin-bottom: 30px;

	font-size:70px;
}
.ArduinoFullStackInfoMargins{
	margin-top: 20px;
	margin-bottom: 30px;
}

.CornerstonesNameAFS{
	display: inline;
	font-weight: bold;
}
.CornerstonesDescrAFS{
	display: inline;
	margin-left: 1em;
}

.TextBlockAFS{
	margin-top: 30px;
}

.ulAFS {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#DisadvantagesUlAFS{
	margin-top: 	10px;
	margin-bottom: 10px;
}

.liAFS {
  padding-left: 16px;
  margin-bottom: 5px;
}

.liAFS:before {
  content: "\2192";
  padding-right: 8px;
  font-weight: bold;
}
.DisadvantagesLiAFS:before{
	content: "-";
	color: red;
}
.AdvantagesLiAFS:before{
	content: "+";
	color: blue;
}
