@import "../App.css";

.Cursor{
	cursor: pointer;
}

.PreviewContainer {
	position: relative;
	
	width: 80vw;
	height: 30vw;
	max-width: 1000px;
	max-height: 400px;
	
	margin: auto;
}

.PreviewImage{
	position: absolute;
	left: 0;
	width: 70%;
	height: 100%;
	cursor: pointer;
}


