
.CurtainButton{
	--curtain-color: #c9915a;
	--curtain-duration: 0.5s;
}

#CurtainButton{
	position: relative;
	
	display: inline-block;
	padding: 10px 20px;
	font-family: Arial;
	color: white;
	background-color: #00aa00;
	cursor: pointer;
	transition-duration: var(--curtain-duration);
}
.CurtainCB{
	position: absolute;
	top: 0;
	height: 100%;
	width: 51%;
	transition-duration: var(--curtain-duration);
}
.ClickedCurtainCB{
	width: 51%;
	background-color: #006666;
	color: #006666;
}
#LeftClickedRectCB{
	left: 0;
}
#RightClickedRectCB{
	right: 0;
}


#LeftRectCB{
	background-color: var(--curtain-color);
	left: 0;
}
#RightRectCB{
	background-color: var(--curtain-color);
	right: 0;
}
#ButtonTextCB{
	position: relative;
	z-index: 1;
}