:root {
  --FontSizeFP: 18px;
  --FontSizeFPbutton: 22px;
}

.FlipPicker{
	display: block;
	font-size: var(--FontSizeFP);
	font-weight: bold;
	color: var(--Nili-color);
}

.IncrementButtonFP{
	font-size: var(--FontSizeFPbutton);
	
	border: 2px solid var(--Nili-color-light);
	border-radius: 5px;
	
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;

	cursor: pointer;
	
	transition-duration: 0.5s;
}
.IncrementButtonFP:hover{
	color: white;
	background-color: var(--Nili-color-dark);
		
	border: 2px solid var(--Nili-color-dark);
	border-radius: 5px;
}
.IncrementButtonFP:active{
	color: white;
	background-color: var(--Nili-color-light);
		
	border: 2px solid var(--Nili-color-dark);
	border-radius: 5px;
	transition-duration: 0.1s;
}

.ValueDivFP{
	position: relative;
	display: block;
	
	height: calc(var(--FontSizeFP) * 1.25);
	
	border: 2px solid var(--Nili-color);
	border-radius: 5px;
	
	overflow: hidden;
}
.ValueFP{
	position: absolute;
	text-align: center;
	
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	width: 100%;
	
	font-weight: bold;
}

.ValueDivFP.hiddenFP{

}