
$mainBackgroundColor: #444;
$tabBarBackgroundColor: #333;
$tabElementColorMinimized: #444;
$tabElementColorMinimizedHover: #555;

$main-bg-color: #ddd;
$main-bg-color-dark: #005500;
$main-bg-color-lightdark: #008800;
$main-bg-color-light: #00ff00;
$headerLogoMaxHeight: 300px;
$fontColor: $main-bg-color;
$separatorColor: #66CC66;

$Nili-color: #ff00ff;
$Nili-color-dark: #aa00aa;
$Nili-color-light: #ffaaff;
$Nili-color-border: #ff88ff33;
$Nili-color-tableHighlight: #ff00ff22;
$Nili-color-blockBorder: #ff00ff88;
