
.SlideBarDiv{
}

.IndicatorBarDivSB{
	display: relative;
}
.IndicatorBarRulerSB{
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-50%, -45%);
	width: 5px;
	max-width: 20px;
	height: 35px;
	background-color: var(--Nili-color-dark);
	
	transition-duration: 0.5s;
}

.SelectorMinMaxSB{
	width: 25%;
	max-width: 150px;
	height: 20px;
	
	background-color: green;
}
.RangeMinMaxSB{
	height: 5%;
	max-height: 10px;
	
	background-color: orange;

}

.SliderBarCentered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.SliderBarLabel{
	opacity: 0.3;
	font-size: 0.8em
}

/* The slider itself */
.SlideBar {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Specified height */
  background: var(--Nili-color-border); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.5s; /* 0.2 seconds transition on hover */
  transition: opacity 0.5s;
}

/* Mouse-over effects */
.SlideBar:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.SlideBar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 5px;
  background: var(--Nili-color);
  cursor: pointer;
}

.SlideBar::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--Nili-color-border); /* Green background */
  border: 2px solid var(--Nili-color-light);
  cursor: pointer; 
}