@import "../App.css";

.Ballin{
	text-align: center;
	margin-bottom: 50px;
}
.BallinInfo{
	color: var(--fontColor);
	font-family: Times;
	margin-bottom: 30px;

	font-size:70px;
}
.BallinInfoMargins{
	margin-top: 20px;
	margin-bottom: 30px;
}

.CarrouselDiaShowBallin{
	width: 90%;
	max-width: 800px;
	margin: auto;
}

.Button{
	display: inline-block;
	border: 1px solid var(--fontColor);
	padding: 20px;

	font-size: 20px;
	color: var(--fontColor);

	cursor: pointer;
}
.BtmMargin{
	margin-bottom: 40px;
}

.Info{
	text-align: justify;
	text-justify: inter-word;
	font-family: hand_written_font;
	font-size: 20px;
	color: var(--fontColor);
	width: 80vw;

	margin-bottom: 30px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}


.BallinSeparator{
	width: 60vw;
	height: 2px;

	background-color: var(--separatorColor);

	margin: 50px auto;
}

.Image{
	cursor: pointer;
}
