
.DiaSelector{
	display: flex;
	width: 100%;
	height: 100%;
	text-align: left;
	align-items: center;
	box-sizing: border-box;
}
.PreviewBarDS{
	width: 20%;
	min-width: 100px;
	max-width: 250px;
	height: 100%;
	background-color: #444444;
	transition-duration: 0.5s;
}
.PreviewBarImgContainerDS{
	overflow-y: auto;
	height: 100%;
}
.DiaSelector ::-webkit-scrollbar {
    width: 10px;
}
.DiaSelector ::-webkit-scrollbar-track {
  background: #333333;
}

.DiaSelector ::-webkit-scrollbar-thumb {
  background: #555555;
}

.DiaSelector ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.PreviewBarImgFlexDS{
	display: flex;
	flex-wrap: wrap;
	flex-flow: center;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	width: 100%;
	align-content: center;
}
.PreviewImgDS{
	width: 85%;
	height: 85%;
	margin: 10px auto 10px auto;
	transition-duration: 0.5s;
	border-radius: 5px;
	box-sizing: border-box;
}
.PreviewImgDS.chckd{
	transform: scale(1.1);
	border: 5px solid lime;
	box-sizing: border-box;
	border-radius: 10px;
}
.PreviewImgDS.unchckd{
	cursor: pointer;
}
.PreviewImgDS.unchckd:hover{
	transform: scale(1.1);
}
.PreviewBarShowBtnDS{
	padding: 0px 5px 0px 5px;
	height: 100%;
	display: table;
	text-align: center;
	
	background-color: #444444;
	box-sizing: border-box;
	border: 1px solid #888888;
}
.PreviewBarShowBtnTxtDS{
	font-size: 40px;
	font-weight: bold;
	color: #888888;
	display: table-cell;
	
	vertical-align: middle;
	transition-duration: 0.5s;
}
.PreviewBarShowBtnTxtDS:hover{
	color: #008800;
}
.PreviewBarShowBtnTxtDS:active{
	color: #006600;
}
.MainWindowContainerDS{
	background-color: #222222;
	width: 100%;
/*	min-width: 350px;*/
	height: 100%;
	overflow: auto;
}
.MainWindowDS{
	width: 100%;
	height: 100%;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	color: #008800;
	transition-duration: 0.5s;
	overflow-y: auto;
}